---
layout: default
title: 
description:
---
<div class="container pt-4 pb-4">
    <div class="row">
        <div class="sidebar col-md-3 col-12">
            <div class="profile-container">
                <img src="{{ site.data.siteSetting.profile-image }}" alt="Profile Image" class="profile-image img-fluid"/>
            </div>

            <div class="social-media-container container mt-3 mb-3">
                {% for social in site.data.siteSetting.footer-social-media %}
                <div class="social-item">
                    <a href="{{ social.link }}" class="social-link" target="_blank">
                        <span class="{{ social.icon }} social-icon"></span>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="right-section col-md-8 offset-md-1 col-12">
            <div class="content-container">
                <div class="about-section">
                    <h2 class="content-header poppins-bold">{{ site.data.homeData.header-title }}</h2>
                    <p class="content-description">{{ site.data.homeData.header-description | newline_to_br }}</p>
                </div>

                <hr class="mt-5 mb-5"/>

                <div class="work-section">
                    <h2 class="content-header poppins-bold mb-3">{{ site.data.homeData.work-header }}</h2>
                    <ul class="work-list">
                        {% for item in site.data.homeData.work-list %}
                        <li>
                            <div class="work-header">
                                <h5 class="poppins-medium">{{ item.title }}</h5>
                            </div>
                            {% if item.collaborators. %}
                            <div class="work-collaborator">
                                <div class="collaborators">
                                    {% for collaborator in item.collaborators %}
                                    {% if collaborator.name %}
                                    {% if forloop.first %}
                                    <span>with: </span>
                                    {% endif %}
                                    <a target="_blank" href="{{ collaborator.link }}">{{ collaborator.name }}{% if forloop.last %} {% else %},{% endif %}</a>
                                    {% endif %} 
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            
                            {% if item.abstract %}
                            <span class="btn btn-primary abstract-button" type="button" data-bs-toggle="collapse" data-bs-target="#work{{ forloop.index }}" aria-expanded="false" aria-controls="work{{ forloop.index }}">Abstract</span>

                            <div class="collapse" id="work{{ forloop.index }}">
                                <div class="card card-body">
                                    <p>{{ item.abstract }}</p>
                                </div>
                            </div>
                            {% endif %}
    
                        </li>
                        {% if forloop.last %}
                        {% else %}
                        <hr/>
                        {% endif %}
                        
                        {% endfor %}
                    </ul>
                </div>

                <hr class="mt-5 mb-5"/>

                <div class="work-progress">
                    <h2 class="content-header poppins-bold mb-3">{{ site.data.homeData.work-progress-header }}</h2>
                    <ul class="work-list">
                        {% for item in site.data.homeData.work-progress %}
                        <li>
                            <div class="work-header">
                                <h5 class="poppins-medium">{{ item.title }}</h5>
                            </div>
                            {% if item.collaborators. %}
                            <div class="work-collaborator">
                                <div class="collaborators">
                                    {% for collaborator in item.collaborators %}
                                    {% if collaborator.name %}
                                    {% if forloop.first %}
                                    <span>with: </span>
                                    {% endif %}
                                    <a href="{{ collaborator.link }}">{{ collaborator.name }}{% if forloop.last %} {% else %},{% endif %}</a>
                                    {% endif %} 
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            
                            {% if item.abstract %}
                            <span class="btn btn-primary abstract-button" type="button" data-bs-toggle="collapse" data-bs-target="#progress{{ forloop.index }}" aria-expanded="false" aria-controls="progress{{ forloop.index }}">Abstract</span>

                            <div class="collapse" id="progress{{ forloop.index }}">
                                <div class="card card-body">
                                    <p>{{ item.abstract }}</p>
                                </div>
                            </div>
                            {% endif %}
    
                        </li>
                        {% if forloop.last %}
                        {% else %}
                        <hr/>
                        {% endif %}
                        
                        {% endfor %}
                    </ul>
                </div>
                
                <hr class="mt-5 mb-5"/>

                <div class="publications">
                    <h2 class="content-header poppins-bold mb-3">{{ site.data.homeData.publications-header }}</h2>
                    <ul class="work-list">
                        {% for item in site.data.homeData.publications-list %}
                        <li>
                            <div class="work-header">
                                <h5 class="poppins-medium">{{ item.title }}</h5>
                            </div>
                            {% if item.collaborators. %}
                            <div class="work-collaborator">
                                <div class="collaborators">
                                    {% for collaborator in item.collaborators %}
                                    {% if collaborator.name %}
                                    {% if forloop.first %}
                                    <span>with: </span>
                                    {% endif %}
                                    <a href="{{ collaborator.link }}">{{ collaborator.name }}{% if forloop.last %} {% else %},{% endif %}</a>
                                    {% endif %} 
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            <span class="d-block publications-tagline">{{ site.data.homeData.publications-tagline }}</span>

                            {% if item.abstract %}

                            <span class="btn btn-primary abstract-button" type="button" data-bs-toggle="collapse" data-bs-target="#publication{{ forloop.index }}" aria-expanded="false" aria-controls="publication{{ forloop.index }}">Abstract</span>
                                {% if site.data.homeData.publications-link %}
                                <a href="{{ site.data.homeData.publications-link }}" target="_blank" class="btn btn-primary abstract-button ms-2">Link</a>
                                {% endif %} 
                            <div class="collapse" id="publication{{ forloop.index }}">
                                <div class="card card-body">
                                    <p>{{ item.abstract }}</p> |
                                </div>
                            </div>
                            {% endif %}
    
                        </li>
                        {% if forloop.last %}
                        {% else %}
                        <hr/>
                        {% endif %}
                        
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>
