---
layout: default
title: 
description:
---
<div class="container">
    <div class="row">
        <div class="sidebar col-md-3 col-12">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <img class="img-circle img-fluid center-block" src="{{ site.data.siteSetting.side-image }}" alt="Logo">

                <h1>{{ site.data.siteSetting.title }}</h1>

                {% if site.email %}
                <p class="addr"><i class="fa-regular fa-envelope"></i>&nbsp;{{ site.email }}</p>
                {% endif %}

                <p>{{ site.description | default: site.github.project_tagline }}</p>
            </header>


        </div>

        <div class="right-section col-md-8 offset-md-1 col-12">
            <div class="content-container">
                <div class="about-section">
                    <h1 class="content-header">{{ site.data.homeData.header-title }}</h1>
                    <p>{{ site.data.homeData.header-description | newline_to_br }}</p>
                </div>

                <hr/>

                <div class="work-section">
                    <h1 class="content-header">{{ site.data.homeData.work-header }}</h1>
                    <ul class="work-list">
                        {% for item in site.data.homeData.work-list %}
                        <li>
                            <div class="work-header">
                                <h4>{{ item.title }}</h4>
                            </div>
                            {% if item.collaborators. %}
                            <div class="work-collaborator">
                                <div class="collaborators">
                                    {% for collaborator in item.collaborators %}
                                    {% if collaborator.name %}
                                    {% if forloop.first %}
                                    <span>with: </span>
                                    {% endif %}
                                    <a href="{{ collaborator.link }}">{{ collaborator.name }}{% if forloop.last %} {% else %},{% endif %}</a>
                                    {% endif %} 
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            
                            {% if item.abstract %}
                            <p class="d-inline-flex gap-1">
                                <span class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#work{{ forloop.index }}" aria-expanded="false" aria-controls="work{{ forloop.index }}">Abstract</span>
                            </p>

                            <div class="collapse" id="work{{ forloop.index }}">
                                <div class="card card-body">
                                    <p>{{ item.abstract }}</p>
                                </div>
                            </div>
                            {% endif %}
    
                        </li>
                        {% if forloop.last %}
                        {% else %}
                        <hr/>
                        {% endif %}
                        
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>
