#content br {display: none;}
#content p br {display: inline;}

body{
    padding-top: 56px;
    font-family: "Lato", Sans-serif;
    color: #333333;
}

nav.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul{
    list-style: none;
}

p{
    color: #555555;
    line-height: 1.8;
}