#content br {display: none;}
#content p br {display: inline;}

body{
    padding-top: 56px;
    font-family: "Lato", Sans-serif;
    color: #333333;
}

nav{
    &.navbar {
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .nav-item{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

ul{
    list-style: none;
    padding-left: 0;
}

p{
    color: #555555;
}

.abstract-button{
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: transparent;
    border: 1px solid #555555;
    color: #555555;
}


.right-section{
    .content-container{
        .content-description{
            font-size: 18px;
        }

        .content-tagline{
            color: #fc5c65;
        }
    }
}

.social-media-container{
    display: flex;
    text-align: center;
    justify-content: center;

    .social-item{
        margin-left: 25px;
        margin-right: 25px;
        .social-link{
            text-decoration: none;
            color: #555555;
            font-size: 24px;
            transition: color 0.3s;

            &:hover{
                color: #000000;
            }
        }

    }
}