#content br {display: none;}
#content p br {display: inline;}

body{
    padding-top: 56px;
}

nav.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul{
    list-style: none;
}